/* * {
    --color-dark: #433d3d;
    --color-white: #fff;
    --font-sans: Arial;

    --max-width: 1024px;
}

html {
    background-color: var( --color-dark );
    color: var( --color-white );
    font-family: var( --font-sans );
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: var( --max-width );
    }
}

.pt-8 {
    padding-top: 2rem;
} */